@use '@angular/material' as mat;
@use 'theme'; // Importamos nuestro theme
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
